@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%);
}

#main__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk' ;
    color: hsl(224, 30%, 27%);
}

#summary__container {
    width: 40%;
    height: 55%;
    display: flex;
    border-radius: 2rem;
    box-shadow: 5px 5px 30px hsl(221, 100%, 96%);
}

#your-result__container {
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    text-align: center;
    color: hsl(241, 100%, 89%);
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

#your-result__title {
    margin: 30px 0;
    height: fit-content ;
    font-size: 1.2rem;
}

#score__container {
    width: 10rem;
    height: 10rem;
    border-radius: 6rem;
    background: linear-gradient(0deg, hsla(241, 72%, 46%, 0) 0%, hsla(256, 72%, 46%, 1) 100%);
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

#score {
    font-size: 4rem;
    color: white;
    font-weight: 800;
}

#your-result__comment__title {
    font-size: 1.8rem;
    margin: 20px 0;
    color: white;
    font-weight: 700;
}

#your-result__comment__text {
    margin: 0 50px;
}

#summary__results {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 50px;
}

h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

.summary__results--reaction, .summary__results--memory, .summary__results--verbal, .summary__results--visual {
    padding: 15px ;
    display: flex;
    align-items: center;
    border-radius: 15px;
    position: relative;
}

.summary__results--reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.summary__results--memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.summary__results--verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.summary__results--visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

#summary__results img {
    margin: 0 8px;
}

.summary__results__score {
    position: absolute;
    right: 10px;
    color: hsl(242, 28%, 73%);
    font-weight: 700;
}

strong {
    color: hsl(224, 30%, 27%);
}

button {
    height: 50px;
    border: none;
    border-radius: 50px;
    background: hsl(224, 30%, 27%);
    font-size: 1rem;
    color: hsl(241, 100%, 89%);
    font-weight: 700;
}

button:hover {
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    color: white;
    transition: 200ms ease-in-out;
}
@media screen and (min-width:768px) and (max-width:1020px){
    #main__container {
        height: auto;
    }
    
    #summary__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #your-result__container {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    #your-result__comment__title {
        margin: 0;
    }
    
    #your-result__comment__text {
        margin: 20px 10px 50px 10px;
    }
    
    #summary__results {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }
    
    h1 {
        margin: 30px 0;
    }
    
    .summary__results--reaction, .summary__results--memory, .summary__results--verbal, .summary__results--visual {
        margin: 10px 0;
    }

    button {
        margin: 20px 0 50px 0;
    }
}
@media screen and (max-width:767px){
    #main__container {
        height: auto;
    }
    
    #summary__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #your-result__container {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    
    #your-result__comment__title {
        margin: 0;
    }
    
    #your-result__comment__text {
        margin: 20px 10px 50px 10px;
    }
    
    #summary__results {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }
    
    h1 {
        margin: 30px 0;
    }
    
    .summary__results--reaction, .summary__results--memory, .summary__results--verbal, .summary__results--visual {
        margin: 10px 0;
    }

    button {
        margin: 20px 0 50px 0;
    }
    
}